@page "/Fazit"
@model Translogica.Pages.FazitModel
@{

    <div class="checklist-wrapper my-0">



        <!-- Checkliste -->

        <div class="checklist-container">
            <h3 class="checklist-heading">WAS ICH JETZT WILL</h3>
            <ul class="checklist">
                <li>Praktikum anrechnen lassen</li>
                <li>Wochenstunden-Ausmaß beibehalten</li>
                <li>Wechsel ins Entwicklerteam</li>
                <li>Eventuell remote Aufgaben erledigen während des Auslandssemesters?</li>
            </ul>
        </div>
    </div>

        }

