html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* --- Image Hover Swap --- */
.hover-image-wrapper {
    position: relative;
    overflow: hidden;
}

.hover-image {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.hover-image-wrapper:hover .hover-image {
    opacity: 1;
}

.hover-image-wrapper:hover .base-image {
    opacity: 0;
}


/* Carousel-Pfeile besser sichtbar und positioniert */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #1f2e5a; /* deine Markenfarbe */
    border-radius: 50%;
    padding: 10px;
}

/* Größe der Punkte unter dem Carousel */
.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1f2e5a;
}
